body {
    background-color: #5b0e0e;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.app-container {
    width: 90%;
    max-width: 800px;
}

.upload-panel {
    background: #745454;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #333;
}

.player-wrapper video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,1);
    background-color: #000; 
}